*{
    padding: 0;
     margin: 0;
    box-sizing: border-box;
}


:root{

    /* ## Colors */

    --White: hsl(0, 0%, 100%);

    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);

    --Brown-800: hsl(14, 45%, 36%);

    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);

    /* ## Typography */

    /* ### Body Copy */

    --Font-size: 16px;

   
}







body{
    background-color: var(--Brown-800);
    padding: 80px 300px 30px 300px;
   
}

main{
    background-color: var(--White);
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* gap: 50px; */
    padding-top: 20px;
    padding-bottom: 20px;
}


            /* the first div */

img{
    height: 40vh;
    width: 100%;
}

section{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

h2{
  font-family:serif;
  font-size: 30px;
}

.break{
    font-family:serif;
    font-size: 30px;
    display: inline;
    white-space: normal;
}

.div-one p{
    color: var(--Stone-600);
    font-weight: 500;
}


            /* preparation time div(div-two) */

.div-two{
    background-color: var(--Rose-50);
    padding: 10px 0px 10px 20px;
    line-height: 2;
}

.div-two ul{
    padding-left: 40px;
}

.div-two  h3{
    color: var(--Rose-800);
    font-weight: 500;
}

.div-two span{
    color: var(--Stone-900);
    /* border: 2px solid green; */
}


.div-two li{
    font-size: 14px;
    color:var(--Stone-600) ;
    font-weight: 500;
}

.div-two ul  ::marker{
    color: var(--Rose-800);
}

            /* start of ingredients part (.div-three) */

.div-three{
    line-height: 1.8;
    border-bottom: 1px solid grey;
    padding-bottom: 30px;
}

.div-three h2{
    color: var(--Brown-800);
    font-size: 25px;
    font-weight: 700;
}

.div-three ul{
    padding-left: 20px;
}

.div-three ul ::marker{
   
    color:var(--Brown-800);   
    list-style: disc;
}

.div-three li{
    color: var(--Stone-600);
    font-size: 14px;
    text-indent: 10px;
    font-weight: 500;
}

            /* start of instruction page (div-four) */


.div-four{
    border-bottom: 1px solid grey;
    padding-bottom: 30px;
}

.div-four h2{
    color: var(--Brown-800);
    font-size: 25px;
    font-weight: 700;
}

.div-four li{
    color: var(--Stone-600);
    font-size: 14px;
    font-weight: 500;
    padding-left: 15px;
}

.div-four ol{
    padding-left: 25px;
    line-height: 1.8;

}

.div-four ol ::marker{
    color: var(--Brown-800);
}

.div-four span{
    color: var(--Stone-);
}

.div-four li br{
    display: inline;
}


            /* Nutrition part (div-five) */

.div-five h2{
    color: var(--Brown-800);
}

.div-five p{
    color: var(--Stone-900);
    font-weight: 600;
}

table{
    border-collapse: collapse;
    width: 100%;
}

td{
   
    padding: 10px;
    color: var(--Stone-600);
    font-weight: 600;
    font-size: 18px;
}

tr{
     border-bottom: 1px solid grey;
}

th{
    color: var(--Brown-800);
}


/* this is the responsiveness  */


@media screen and (max-width:480px) {
    body{
        padding: 0px 0px 0px 0px;
    }

    main{
        padding: 0px 0px 0px 0px;
    }

    .div-one{
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }

    .div-one h2{
       font-size: 35px;
       text-align:start;
       padding-left: 20px;
    }

    .break{
        font-size: 35px;
        display: block;
        text-align:start;
    }

    .div-one p{
        padding-left: 20px;
        font-size: 16px;

    }

    .div-two{
        padding-left: 35px;
    }

    .div-three{
         padding-left: 20px;
    }

    .div-four{
         padding-left: 20px;
    }

    .div-four ol{
       display: flex;
       flex-direction: column;
       gap: 20px;
    }

  

    .div-four li br{
        display: none;
    }

    .div-four li{
        font-weight: 400;
        font-size: 16px;
    }

    .div-five{
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

}